[Unit]
Description=IoT Device Hub application
After=bluetooth.service dbus.service network-online.target
Requires=bluetooth.service dbus.service network-online.target

[Service]
Type=simple
Restart = always
ExecStart=/usr/local/bin/IotDeviceHub

[Install]
WantedBy=multi-user.target